@keyframes drop {
  from {
    opacity: 0;
  }
  70% {
    opacity: 100;
    animation-timing-function: ease-in;
  }
}
@keyframes pord {
  from {
    opacity: 100;
  }
  70% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
}

.categories-nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 166, 204);
  position: absolute;
  animation: drop 0.5s;
  animation-fill-mode: backwards;
  border-radius: 3px;
}
.categories-nav li {
  padding: 15px;
  list-style: none;
  font-size: 15px;
}
.categories-nav a {
  text-decoration: none;
  color: black;
}
