.cart-widget {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 35px;
  border-radius: 15px;
  border: none;
  text-decoration: none;
}
.cart-widget img:hover {
  transition: 0.1s;
  transform: scale(1.1);
}

.cart-widget-count {
  height: min-content;
  margin: auto;
  animation: drop 0.1s;
  animation-fill-mode: forwards;
}
.cart-widget-wrapper a {
  text-decoration: none;
}
